<div class="col-21 d-none d-lg-block flex-shrink-0  bg-dark text-white vh-100" style="width:16rem;">

    <div class="d-flex align-items-center p-1">
        <i class="bi bi-globe fs-1 me-1"></i>
        <div class="lh-1">
            <div class="fw-bold fs-5">CMS</div>
            <div class="text-muted2 small">Content Management System</div>
        </div>
    </div>

    <div class="p-3 border-bottom lh-1">
        <span class="fw-bold fs-5 text-uppercase">CMS</span>
        <br><small>Content Management System</small>
    </div>


    <ul class="nav flex-column text-white p-0 m-0 mb-4">
        <li class="nav-item">
            <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#blocks" role="button" aria-expanded="false" aria-controls="blocks">
                    <span>
                        <i class="pe-1 bi bi-bricks"></i>
                        Blokk
                    </span>
            </a>
            <div class="collapse submenu bg-black" id="blocks">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="/hu/admin/v2/web/block/">Összes blokk</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="/hu/admin/v2/web/block/add/">Új blokk hozzáadása</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item border-top2">
            <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#posts" role="button" aria-expanded="false" aria-controls="posts">
                    <span>
                        <i class="pe-1 bi bi-pin-angle-fill"></i>
                        Bejegyzések
                    </span>
            </a>
            <div class="collapse submenu bg-black p-0 m-0" id="posts">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">Összes bejegyzés</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">bejegyzés hozzáadása</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Kategóriók</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Cimkék</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item border-top2">
            <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#events" role="button" aria-expanded="false" aria-controls="posts">
                    <span>
                        <i class="pe-1 bi bi-calendar-event"></i>
                        Események
                    </span>
            </a>
            <div class="collapse submenu bg-black p-0 m-0" id="events">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">Összes esemény</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">esemény hozzáadása</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Kategóriók</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Cimkék</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item border-top2">
            <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#submenu2" role="button" aria-expanded="false" aria-controls="submenu2">
                    <span>
                        <i class="pe-1 bi bi-hdd"></i>
                        Média
                    </span>
            </a>
            <div class="collapse submenu bg-black p-0 m-0" id="submenu2">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">összes média</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item border-top2">
            <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#pages" role="button" aria-expanded="false" aria-controls="pages">
                    <span>
                        <i class="pe-1 bi bi-file-earmark-fill"></i>
                        Oldalak
                    </span>
            </a>
            <div class="collapse submenu bg-black p-0 m-0" id="pages">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">összes oldal</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item border-top2">
            <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="comments">
                    <span>
                        <i class="pe-1 bi bi-chat-square-fill"></i>
                        Hozzászólások
                    </span>
            </a>
            <div class="collapse submenu bg-black p-0 m-0" id="comments">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item border-top2">
            <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#design1" role="button" aria-expanded="false" aria-controls="design">
                    <span>
                        <i class="pe-1 bi bi-brush-fill"></i>
                        Megjelelenés
                    </span>
            </a>
            <div class="collapse submenu bg-black p-0 m-0" id="design1">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item border-top2">
            <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#design2" role="button" aria-expanded="false" aria-controls="design">
                    <span>
                        <i class="pe-1 bi bi-wrench"></i>
                        Eszközök
                    </span>
            </a>
            <div class="collapse submenu bg-black p-0 m-0" id="design2">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item border-top2">
            <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#design" role="button" aria-expanded="false" aria-controls="design">
                    <span>
                        <i class="pe-1 bi bi-sliders2-vertical"></i>
                        Beállítások
                    </span>
            </a>
            <div class="collapse submenu bg-black p-0 m-0" id="design">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                </ul>
            </div>
        </li>

    </ul>





    <ul class="list-unstyled ps-0"> <li class="mb-1"> <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                Home
            </button> <div class="collapse" id="home-collapse" style=""> <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li> <li><a href="#" class="text-white link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li> </ul> </div> </li> <li class="mb-1"> <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Dashboard
            </button> <div class="collapse" id="dashboard-collapse"> <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Weekly</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Monthly</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Annually</a></li> </ul> </div> </li> <li class="mb-1"> <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Orders
            </button> <div class="collapse" id="orders-collapse"> <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Processed</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Shipped</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Returned</a></li> </ul> </div> </li> <li class="border-top my-3"></li> <li class="mb-1"> <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Account
            </button> <div class="collapse" id="account-collapse"> <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New...</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li> </ul> </div> </li> </ul>

</div>
