<div id="sidebar_icons" class="col-11 d-none d-lg-block flex-shrink-0 bg-black vh-100 d-flex flex-column align-items-center" style="width:5rem;">
    <button class="btn btn-lg border-orange bg-orange text-white m-2" data-section="projects" title="Projects" onclick="sidebarToggle()">
        <span class="p-0 m-0 fs-4">⫹⫺</span>
    </button>
    <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
        <i class="bi bi-speedometer2 p-0 m-0 fs-4"></i>
    </button>
    <button class="btn btn-lg border-dark bg-dark text-white text-secondary m-2 py-2 px-3" data-section="communication" title="Communication">
        <i class="bi bi-globe p-0 m-0 fs-4"></i>
    </button>
    <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
        <i class="bi bi-cart p-0 m-0 fs-4"></i>
    </button>
    <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
        <i class="bi bi-people p-0 m-0 fs-4"></i>
    </button>
    <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
        <i class="bi bi-briefcase p-0 m-0 fs-4"></i>
    </button>
    <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
        <i class="bi bi-graph-up p-0 m-0 fs-4"></i>
    </button>
    <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
        <i class="bi bi-tools p-0 m-0 fs-4"></i>
    </button>
    <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
        <i class="bi bi-gear p-0 m-0 fs-4"></i>
    </button>
</div>
<script>
    function sidebarToggle() {
        const icons = document.getElementById('sidebar_icons');
        const menu = document.getElementById('sidebar_menu');
        const header_toggle_icon = document.getElementById('header_toggle_icon');
        if (icons.style.display === 'none') {
            icons.setAttribute("style", "display:flex !important;max-width:5rem;");
            menu.setAttribute("style", "display:block !important");
            header_toggle_icon.setAttribute("style", "display:none !important");
        } else {
            icons.setAttribute("style", "display:none !important");
            menu.setAttribute("style", "display:none !important");
            header_toggle_icon.setAttribute("style", "display:flex !important");
        }
    }
</script>
