<footer class="bg-dark text-white p-5">
    <div class="container text-center py-4">
        <p class="mb-0">&copy; {{ "now"|date("Y") }} {{ website.name|default('My Website') }}. Minden jog fenntartva.</p>
    </div>
</footer>
