{% extends 'themes/4_delta/base.html.twig' %}

{% block body %}

    <!-- get events where website id is equal to website.id and startAt is greater than or equal to now order by startAt ascending limit 5 -->


    {% if events is defined %}
        <h2 class="mt-5">Következő események</h2>
        <ul class="list-group">
            {% for event in events %}
                <li class="list-group-item">
                    <a href="/events/{{ event.id }}">{{ event.title }}</a> - {{ event.startAt|date('Y.m.d. H:i') }}
                </li>
            {% else %}
                <li class="list-group-item">Nincsenek elérhető események.</li>
            {% endfor %}
        </ul>
    {% endif %}


    <div class="col-8">
        <div class="text-start">
            <h1>Következő események</h1>
        </div>
        <div class="text-end">
            <a href="/events/create" class="btn btn-primary">térképes nézet</a>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="col-4">
        oldalmenü
    </div>

{% endblock %}
