{% extends 'themes/4_delta/base.html.twig' %}

{% block body %}

<div class="col-12 col-md-8">

    <h1 class="mt-4 mb-3">{{ title }}</h1>

    <div class="mb-4">
        {{ content|raw }}
    </div>
</div>

{% endblock %}
