{% extends 'themes/4_delta/base.html.twig' %}

{% block navigation %}
    {% include 'themes/4_delta/_navigation.html.twig' with { 'menus':menus } %}
{% endblock %}

{% block body %}
    <h1>{{ title|raw }}</h1>
    {% if page.featuredImage %}
        <div class="mb-4">
            <img src="/media/{{ page.featuredImage.originalName }}" alt="{{ title }}" class="img-fluid rounded">
        </div>
    {% endif %}
    {{ content|raw }}
{% endblock %}
