{% extends 'themes/4_delta/base.html.twig' %}

{% block navigation %}
    {% for menu in menus %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ menu.slug }}">{{ menu.title }}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="col-12">

        <h1>{{ title|raw }}</h1>

        {{ content|raw }}

    </div>

{% endblock %}
