{% extends 'base.html.twig' %}

{% block body %}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-lg bg-dark text-white">
                        <div class="card-body p-lg-5 text-center">

                            <h2 class="fw-bold text-uppercase"><i class="bi bi-stack"></i> Platform</h2>
                            <p class="text-white-50 fs-6">Online Management System</p>
                            <form name="form" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset-password') }}">
                                <div class="text-start">
                                    <div id="form">
                                        <div>
                                            <label for="form_username" class="required">Azonosító</label>
                                            <input type="text" id="form_username" name="username" required="required" class="form-control form-control-lg bg-dark text-white" />
                                        </div>
                                        <div class="py-1 d-grid gap-2">
                                            <button type="submit" id="form_submit" name="submit" class="btn btn-outline-light btn-lg px-5 my-3">
                                                {{ 'account.reset password'|trans }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
