<!-- lightGallery -->
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/lightgallery.min.js"></script>
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/plugins/autoplay/lg-autoplay.min.js"></script>
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/plugins/comment/lg-comment.min.js"></script>
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/plugins/hash/lg-hash.min.js"></script>
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/plugins/mediumZoom/lg-medium-zoom.min.js"></script>
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/plugins/pager/lg-pager.min.js"></script>
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/plugins/rotate/lg-rotate.min.js"></script>
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/plugins/share/lg-share.min.js"></script>
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/plugins/video/lg-video.min.js"></script>
<script src="https://cdn.brandcomstudio.com/node_modules/lightgallery/plugins/zoom/lg-zoom.min.js"></script>

{% if instance.plan == "FREE" %}
    <div class="text-center bg-black text-light small p-2">
        Powered by <a target="_blank" rel="noopener noreferrer" class="fw-bold text-light text-decoration-none" href="https://www.platform360.app/hu/"><i class="bi bi-stack"></i> platform<sup>360</sup></a>
    </div>
{% else %}
    <!-- Powered by platform360 https://www.platform360.hu -->
{% endif %}
<!-- Generated: {{ 'now'|date('Y.m.d. H:i:s | U') }} -->
