<div class="text-center bg-white text-dark small p-2">
    Powered by <a target="_blank" rel="noopener noreferrer" class="fw-bold text-dark text-decoration-none" href="https://www.platform360.hu"><i class="bi bi-stack"></i> platform<sup>360</sup></a>
</div>
<!-- Generated: {{ 'now'|date('Y.m.d. H:i:s | U') }} -->
