<nav aria-label="breadcrumb small">
    <ol class="breadcrumb">
        <li class="breadcrumb-item small"><a class="link-secondary" href="{{ path('admin_v1_dashboard_website_index') }}">Vezérlőpult</a></li>

        {% for currentRouteParameter in currentRouteParameters %}
            <li class="breadcrumb-item small">
                <!--a class="link-secondary" href="/admin/posts/"-->
                    {{ currentRouteParameter }}
                <!--/a-->
            </li>
        {% endfor %}

    </ol>
</nav>
