<nav aria-label="breadcrumb small">
    <ol class="breadcrumb">
        <li class="breadcrumb-item small"><a class="link-secondary" href="/admin/">Vezérlőpult</a></li>
        <li class="breadcrumb-item small"><a class="link-secondary" href="/admin/posts/">CMS</a></li>
        <li class="breadcrumb-item small"><a class="link-secondary" href="/admin/posts/">Bejegyzések</a></li>
        <li class="breadcrumb-item small active" aria-current="page">Új</li>
    </ol>
</nav>
