<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- prevent caching to ensure latest content is always displayed -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="icon" href="/media/{{ website.favicon.originalName }}">

    <title>{{ website.title }}</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap-icons/font/bootstrap-icons.min.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap" rel="stylesheet">

    <style>
        :root {
            --primary-color: #a945ba;
        }
        body {
            font-family: "Montserrat", sans-serif;
        }
        .navbar-brand {
            font-family: "Tenor Sans", sans-serif;
        }
        .text-primary {
            color: var(--primary-color) !important;
        }
        .btn-primary, .btn-outline-primary, .bg-primary {
            background-color: var(--primary-color) !important;
            border-color: var(--primary-color) !important;
        }
        .btn {
            border-radius:50px;
        }

        .wave {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .wave-top {
            position: absolute;
            z-index:10000;
            top: 60px;
            left: 0;
            width: 100%;
            transform: rotate(180deg);
            line-height: 0;
        }
    </style>

    <link href="/style.css" rel="stylesheet">

</head>
<body>

{% include 'themes/7_eta/nav.html.twig' %}

{% block body %}
{% endblock %}

{% include 'themes/7_eta/footer.html.twig' %}

<script src="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function postData(url, data) {
        // Convert object to URL-encoded form data (like $_POST)
        const formBody = Object.keys(data)
            .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key]))
            .join('&');

        return fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: formBody,
            credentials: "include"
        })
            .then(response => response.text())
            //.then(response => response.json()) // or .text() if not JSON
            .catch(error => console.error('Error:', error));
    }

    const payload = {
        host: window.location.hostname,
        url: window.location.href,
        path: window.location.pathname,
        referrer: document.referrer || null,
        title: document.title
    }

    postData('{{ APP_URL }}/api/log/visitor/',
        payload
    );
</script>

</body>
</html>


