{% extends 'themes/gamma/base.html.twig' %}

{% block body %}

<img alt="" class="img img-fluid" src="https://www.vitalitashaz.hu/contents/uploads/sites/16/2016/12/illusztracio_lebojtkura_pixabaycom-768x508.jpg">
<h1 class="fw-bold">{{ title|raw }}</h1>
{{ content|raw }}

{% endblock %}
