<!DOCTYPE html>
<html lang="hu">
<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Harkály Gergő, full-stack, webfejlesztő, szabadúszó webfejlesztő, Symfony, WordPress">
    <meta name="description" content="Honlapok, online áruházak és webalkalmazások előzetes felmérése, megtervezése, terv kidolgozása, lefejlesztése, bevezetése, üzemeltetése és továbbfejlesztése. Szakmai tanácsadóként vagy kivitelezőként.">
    <title>PLATFORM</title>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.harkalygergo.hu" />
    <meta property="og:title" content="Harkály Gergő, tapasztalt full-stack webfejlesztő szabadúszó" />
    <meta property="og:description" content="Honlapok, online áruházak és webalkalmazások előzetes felmérése, megtervezése, terv kidolgozása, lefejlesztése, bevezetése, üzemeltetése és továbbfejlesztése. Szakmai tanácsadóként vagy kivitelezőként." />
    <meta property="og:image" content="https://www.harkalygergo.hu/media/facebook2.jpg" />
    <meta property="fb:app_id" content="1454931065532523" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.ico">
    <!-- theme css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/components/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/components/font-awesome/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <style>

        body {
            font-family: Arial, sans-serif;


        }
        .border-orange, .bg-orange {
            border-color:  #fd7e14;
            background-color:  #fd7e14;
        }
    </style>
</head>
<body class="bg-light h-100">




<div class="h-100 d-flex">
    <div class="col-11 d-none d-lg-block flex-shrink-0 bg-black vh-100 d-flex flex-column align-items-center" style="width:5rem;">
        <button class="btn btn-lg border-orange bg-orange text-white m-2"  data-section="projects" title="Projects">
            <span class="p-0 m-0 fs-4">⫹⫺</span>
        </button>
        <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
            <i class="bi bi-speedometer2 p-0 m-0 fs-4"></i>
        </button>
        <button class="btn btn-lg border-dark bg-dark text-white text-secondary m-2 py-2 px-3" data-section="communication" title="Communication">
            <i class="bi bi-globe p-0 m-0 fs-4"></i>
        </button>
        <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
            <i class="bi bi-people p-0 m-0 fs-4"></i>
        </button>
        <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
            <i class="bi bi-cart p-0 m-0 fs-4"></i>
        </button>
        <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
            <i class="bi bi-briefcase p-0 m-0 fs-4"></i>
        </button>
        <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
            <i class="bi bi-graph-up p-0 m-0 fs-4"></i>
        </button>
        <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
            <i class="bi bi-tools p-0 m-0 fs-4"></i>
        </button>
        <button class="btn btn-lg border-dark bg-dark text-white m-2 py-2 px-3" data-section="communication" title="Communication">
            <i class="bi bi-gear p-0 m-0 fs-4"></i>
        </button>
    </div>
    <div class="col-21 d-none d-lg-block flex-shrink-0  bg-dark text-white vh-100" style="width:16rem;">




        <div class="d-flex align-items-center p-1">
            <i class="bi bi-globe fs-1 me-1"></i>
            <div class="lh-1">
                <div class="fw-bold fs-5">CMS</div>
                <div class="text-muted2 small">Content Management System</div>
            </div>
        </div>



        <div class="p-3 border-bottom lh-1">
            <span class="fw-bold fs-5 text-uppercase">CMS</span>
            <br><small>Content Management System</small>
        </div>


        <ul class="nav flex-column text-white p-0 m-0 mb-4">
            <li class="nav-item">
                <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#blocks" role="button" aria-expanded="false" aria-controls="blocks">
                    <span>
                        <i class="pe-1 bi bi-bricks"></i>
                        Blokk
                    </span>
                </a>
                <div class="collapse submenu bg-black" id="blocks">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link link-light" href="/hu/admin/v2/web/block/">Összes blokk</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="/hu/admin/v2/web/block/add/">Új blokk hozzáadása</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item border-top2">
                <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#posts" role="button" aria-expanded="false" aria-controls="posts">
                    <span>
                        <i class="pe-1 bi bi-pin-angle-fill"></i>
                        Bejegyzések
                    </span>
                </a>
                <div class="collapse submenu bg-black p-0 m-0" id="posts">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link link-light" href="#">Összes bejegyzés</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">bejegyzés hozzáadása</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Kategóriók</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Cimkék</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item border-top2">
                <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#submenu2" role="button" aria-expanded="false" aria-controls="submenu2">
                    <span>
                        <i class="pe-1 bi bi-hdd"></i>
                        Média
                    </span>
                </a>
                <div class="collapse submenu bg-black p-0 m-0" id="submenu2">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link link-light" href="#">összes média</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item border-top2">
                <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#pages" role="button" aria-expanded="false" aria-controls="pages">
                    <span>
                        <i class="pe-1 bi bi-file-earmark-fill"></i>
                        Oldalak
                    </span>
                </a>
                <div class="collapse submenu bg-black p-0 m-0" id="pages">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link link-light" href="#">összes oldal</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item border-top2">
                <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="comments">
                    <span>
                        <i class="pe-1 bi bi-chat-square-fill"></i>
                        Hozzászólások
                    </span>
                </a>
                <div class="collapse submenu bg-black p-0 m-0" id="comments">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item border-top2">
                <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#design1" role="button" aria-expanded="false" aria-controls="design">
                    <span>
                        <i class="pe-1 bi bi-brush-fill"></i>
                        Megjelelenés
                    </span>
                </a>
                <div class="collapse submenu bg-black p-0 m-0" id="design1">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item border-top2">
                <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#design2" role="button" aria-expanded="false" aria-controls="design">
                    <span>
                        <i class="pe-1 bi bi-wrench"></i>
                        Eszközök
                    </span>
                </a>
                <div class="collapse submenu bg-black p-0 m-0" id="design2">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item border-top2">
                <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#design" role="button" aria-expanded="false" aria-controls="design">
                    <span>
                        <i class="pe-1 bi bi-sliders2-vertical"></i>
                        Beállítások
                    </span>
                </a>
                <div class="collapse submenu bg-black p-0 m-0" id="design">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                    </ul>
                </div>
            </li>

        </ul>





        <ul class="list-unstyled ps-0"> <li class="mb-1"> <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    Home
                </button> <div class="collapse" id="home-collapse" style=""> <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li> <li><a href="#" class="text-white link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li> </ul> </div> </li> <li class="mb-1"> <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Dashboard
                </button> <div class="collapse" id="dashboard-collapse"> <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Weekly</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Monthly</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Annually</a></li> </ul> </div> </li> <li class="mb-1"> <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    Orders
                </button> <div class="collapse" id="orders-collapse"> <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Processed</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Shipped</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Returned</a></li> </ul> </div> </li> <li class="border-top my-3"></li> <li class="mb-1"> <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    Account
                </button> <div class="collapse" id="account-collapse"> <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New...</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li> <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li> </ul> </div> </li> </ul>

    </div>
    <div class="col-91 p-0 m-0 flex-grow-1">


        <header class="p-0 mb-0 border-bottom bg-dark text-light"> <div class="container"> <div class="d-flex flex-wrap"> <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0"> <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li> <li><a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a></li> <li><a href="#" class="nav-link px-2 link-body-emphasis">Customers</a></li> <li><a href="#" class="nav-link px-2 link-body-emphasis">Products</a></li> </ul> <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"> <input type="search" class="form-control" placeholder="Search..." aria-label="Search"> </form> <div class="dropdown text-end"> <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> </a> <ul class="dropdown-menu text-small"> <li><a class="dropdown-item" href="#">New project...</a></li> <li><a class="dropdown-item" href="#">Settings</a></li> <li><a class="dropdown-item" href="#">Profile</a></li> <li><hr class="dropdown-divider"></li> <li><a class="dropdown-item" href="#">Sign out</a></li> </ul> </div> </div> </div> </header>


        <main class="p-3">

            {{ app.user.username }}

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>

            <div class="card">
                <div class="card-header text-uppercase fw-bold">
                    blokkok
                </div>
                <div class="card-body">
                    <div class="table-responsive small">
                        <table class="table table-hover table-bordered table-sm table-striped">

                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">name</th>
                                <th scope="col">content</th>
                                <th scope="col">status</th>
                                <th scope="col">createdAt</th>
                                <th scope="col">updatedAt</th>
                                <th scope="col">instanceId</th>
                                <th scope="col">createdById</th>
                                <th>Eszközök</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            <tr>
                                <td>3</td>
                                <td>eee</td>
                                <td>fsafsa</td>
                                <td></td>
                                <td>2025-10-21T11:23:14+00:00</td>
                                <td></td>
                                <td>1</td>
                                <td>1</td>
                                <td>
                                    <a href="edit/3">edit</a>
                                    <form action="delete/3" method="POST">
                                        <input type="hidden" name="_token" value="44178e47b88500c19e5bfbbd6f6d9b.faKvemY-6VtbMEeq-Kj2EKEclUL1R_6U-l3P6tpSqow.EP3XE1dQkG0DZQzpsMfHWOh-pQ-_JpXtgBKo2Okk-uJL68A4FWSsDwQCJA">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit">delete</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>ddd</td>
                                <td>ere</td>
                                <td></td>
                                <td>2025-10-21T11:23:19+00:00</td>
                                <td></td>
                                <td>1</td>
                                <td>1</td>
                                <td>
                                    <a href="edit/4">edit</a>
                                    <form action="delete/4" method="POST">
                                        <input type="hidden" name="_token" value="a02fd3fbf0fea.jCROPFyDhwoUkPNodzYPHYdbvCFkLEt_X1wlAp7_9Tg.5XYJWxHgtG9Y5YQjRmFHS_QC-FAHQx0bEmRgWK2tqlS7ez1YasLWQEzPyw">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit">delete</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>11</td>
                                <td>222</td>
                                <td>1</td>
                                <td>2025-10-21T11:23:26+00:00</td>
                                <td></td>
                                <td>1</td>
                                <td>1</td>
                                <td>
                                    <a href="edit/5">edit</a>
                                    <form action="delete/5" method="POST">
                                        <input type="hidden" name="_token" value="c62cd582c7cec1a535ba9.1NTLa1tNwUzhZI625DaGU5S-6DiU6nE723Rscab4QZA.kJijBm8_-TybFr7isF_PHabLrFyh0kZ3uS5dC5StNMXikoUqFHryD64C_Q">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit">delete</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>222</td>
                                <td>333</td>
                                <td>1</td>
                                <td>2025-10-21T11:24:11+00:00</td>
                                <td></td>
                                <td>1</td>
                                <td>1</td>
                                <td>
                                    <a href="edit/6">edit</a>
                                    <form action="delete/6" method="POST">
                                        <input type="hidden" name="_token" value="578e0cb59.iElUL-ayraZfnDhDXPSmuXeGAmllierkiGj4y7RDM1w.335nSq3B4PBtqVoOM8Tl4S7-bD8h7oCx2QGBn80HCjbDEAZZtIOe6i3qDA">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit">delete</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>555</td>
                                <td>6666</td>
                                <td>1</td>
                                <td>2025-10-21T11:24:20+00:00</td>
                                <td></td>
                                <td>1</td>
                                <td>1</td>
                                <td>
                                    <a href="edit/7">edit</a>
                                    <form action="delete/7" method="POST">
                                        <input type="hidden" name="_token" value="4c86.Qx0DpEdcMwaEKEgWsFatP7d2_zV2eM1mu70zssXcUAQ.AkJX8nNxBTfOGzBOyTCYWsA3iw1PLeAH-NVp3JPrIDcRcFHsdB5VN-kZJw">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit">delete</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </main>

    </div>
</div>


<script src="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
0
