{% if app.user is defined and app.user is not null %}
    {% set cart = app.user.cart %}
    {% set currentInstance = app.request.cookies.get('currentInstance') %}
    {% for userInstance in app.user.instances %}
        {% if userInstance.id == app.request.cookies.get('currentInstance') %}
            {% set currentInstance = userInstance %}
        {% endif %}
    {% endfor %}
{% endif %}
{% set currentRouteParameters = app.request.attributes.get('_route')|split('_') %}
<!DOCTYPE html>
<html lang="{{ app.locale }}" data-bs-theme="{% if app.user is null %}dark{% else %}auto{% endif %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Harkály Gergő, full-stack, webfejlesztő, szabadúszó webfejlesztő, Symfony, WordPress">
    <meta name="description" content="Honlapok, online áruházak és webalkalmazások előzetes felmérése, megtervezése, terv kidolgozása, lefejlesztése, bevezetése, üzemeltetése és továbbfejlesztése. Szakmai tanácsadóként vagy kivitelezőként.">
    <title>PLATFORM</title>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.harkalygergo.hu" />
    <meta property="og:title" content="Harkály Gergő, tapasztalt full-stack webfejlesztő szabadúszó" />
    <meta property="og:description" content="Honlapok, online áruházak és webalkalmazások előzetes felmérése, megtervezése, terv kidolgozása, lefejlesztése, bevezetése, üzemeltetése és továbbfejlesztése. Szakmai tanácsadóként vagy kivitelezőként." />
    <meta property="og:image" content="https://www.harkalygergo.hu/media/facebook2.jpg" />
    <meta property="fb:app_id" content="1454931065532523" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
    <!-- theme css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap-icons/font/bootstrap-icons.min.css">
    <!--link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/components/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/vendor/components/font-awesome/css/all.min.css"-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/monokai.min.css" integrity="sha512-R6PH4vSzF2Yxjdvb2p2FA06yWul+U0PDDav4b/od/oXf9Iw37zl10plvwOXelrjV2Ai7Eo3vyHeyFUjhXdBCVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js" integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/xml/xml.min.js" integrity="sha512-LarNmzVokUmcA7aUDtqZ6oTS+YXmUKzpGdm8DxC46A6AHu+PQiYCUlwEGWidjVYMo/QXZMFMIadZtrkfApYp/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/edit/matchbrackets.min.js" integrity="sha512-GSYCbN/le5gNmfAWVEjg1tKnOH7ilK6xCLgA7c48IReoIR2g2vldxTM6kZlN6o3VtWIe6fHu/qhwxIt11J8EBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.15.4/beautify-html.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/node_modules/summernote/dist/summernote-bs5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.brandcomstudio.com/node_modules/jquery-datetimepicker/build/jquery.datetimepicker.min.css">

    <style>
        body {
            font-family: "Poppins", sans-serif;;
            font-size: 0.9rem;
        }
        .border-orange, .bg-orange {
            border-color:  #fd7e14;
            background-color:  #fd7e14;
        }

        html, body { height: 100%; }

        .table-responsive {
            overflow: inherit;
        }

        /*
        #sidebar_icons,
        #sidebar_menu {
            height: 100vh;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
        */

        .note-editable script {
            display: inline-table;
            visibility: hidden;
            height: 0 !important;
            width: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
            font-size: 0 !important;
        }
        .note-editable script:before {
            display: block;
            width: 32px;
            height: 32px;
            content: "";
            visibility: visible;
            background-image: url(http://png-1.findicons.com/files/icons/1861/xml_docs_x_tended/128/crystal_js.png);
            background-repeat: no-repeat;
            background-size: 32px;
        }

        .row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display:         flex;
            flex-wrap: wrap;
        }
        .row > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
        .nav-link.active {
            font-weight: bold;
            font-style: italic;
        }

        label:has(+ input:required):after {
            content: ' *';
            color: red;
        }
    </style>
</head>
<body class="bg-light h-100">

    <div class="d-flex w-100 align-items-stretch min-vh-100">

        {% include 'platform/backend/v1/partials/_sidebar.html.twig' %}

        <div class="flex-grow-1">
            {% include 'platform/backend/_header.html.twig' %}

            {% block main %}
            {% endblock %}

        </div>
    </div>

    <script src="https://cdn.brandcomstudio.com/vendor/components/jquery/jquery.min.js"></script>
    <script src="https://cdn.brandcomstudio.com/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.brandcomstudio.com/node_modules/summernote/dist/summernote-bs5.min.js"></script>
    <script src="https://cdn.brandcomstudio.com/node_modules/summernote/dist/lang/summernote-en-US.min.js"></script>
    <script src="https://cdn.brandcomstudio.com/node_modules/summernote/dist/lang/summernote-hu-HU.min.js"></script>
    <script src="https://cdn.brandcomstudio.com/node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.min.js"></script>

    <script>
        function slugify(text) {
            return text.toLowerCase()
                .normalize('NFD')
                .replace(/[\u0300-\u036f]/g, '')
                .replace(/[^a-z0-9\s-]/g, '')
                .replace(/\s+/g, '-')
                .replace(/-+/g, '-')
                .replace(/^-|-$/g, '');
        }

        window.addEventListener("load", (event) => {
            const slugTargets = document.querySelectorAll('.slugTarget');
            slugTargets.forEach(function(input) {
                input.addEventListener('focus', function() {
                    if (this.value === '') {
                        const slugSource = document.getElementsByClassName("slugSource")["0"];
                        this.value = slugify(slugSource.value);
                    }
                });
            });
        });

        // Define the custom Prettify button
        var PrettifyButton = function(context) {
            var ui = $.summernote.ui;

            var button = ui.button({
                contents : '<i class="note-icon-magic"></i> Prettify',
                tooltip  : 'Format / Prettify HTML code',
                click    : function() {
                    // Get the current raw HTML from the editor
                    var html = context.invoke('code');

                    // Beautify it
                    var pretty = html_beautify(html, {
                        indent_size          : 2,
                        wrap_line_length     : 120,
                        preserve_newlines    : false,
                        indent_inner_html    : true,
                        extra_liners         : ['head', 'body', '/html'],
                        unformatted          : [],   // format everything, including <script>/<style>
                        content_unformatted  : [],
                    });

                    // Write it back into the editor
                    context.invoke('code', pretty);

                    // If codeview is active, update CodeMirror instance too
                    var $cm = context.layoutInfo.codable.data('CodeMirrorInstance');
                    if ($cm) {
                        $cm.setValue(pretty);
                        $cm.refresh();
                    }
                }
            });

            return button.render();
        };

        jQuery(document).ready(function() {
            jQuery('.summernote').summernote({
                lang: 'hu-HU',
                codeviewFilter: false,
                codeviewIframeFilter: false,
                toolbar:[
                    ['style', ['style']],
                    ['font',     ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['fontsizeunit', ['fontsizeunit']], // px / em / rem unit toggle
                    ['color',    ['forecolor', 'backcolor']], // separate pickers
                    ['para', ['ul','ol','paragraph','height']],
                    ['table', ['table']],
                    ['insert',   ['link', 'picture', 'video', 'hr']],
                    ['view',     ['fullscreen', 'codeview', 'help']],
                    ['misc', ['undo','redo']],
                    ['custom', ['prettify']]
                ],
                height: 300,
                codemirror: {
                    mode         : 'text/html',   // HTML syntax highlighting
                    htmlMode     : true,
                    lineNumbers  : true,          // show gutter line numbers
                    lineWrapping : true,          // soft wrap long lines
                    theme        : 'monokai',     // any CodeMirror theme
                    matchBrackets: true,          // highlight matching brackets
                    indentWithTabs: true,
                    tabSize      : 2,
                },
                buttons: {
                    prettify: PrettifyButton,     // <-- register the button
                }
            });

            jQuery.datetimepicker.setLocale('hu');

            jQuery('.datetimepicker').datetimepicker({
                /*
                i18n:{
                    hu:{
                        months:[
                            'Januar','Februar','März','April',
                            'Mai','Juni','Juli','August',
                            'September','Oktober','November','Dezember',
                        ],
                        dayOfWeek:[
                            "So.", "Mo", "Di", "Mi",
                            "Do", "Fr", "Sa.",
                        ]
                    }
                },
                */
                format: 'Y-m-d H:i'
                //format:'unixtime'
                //timepicker:false,
                //format:'d.m.Y'
            });
        });


        function sidebarToggle() {
            const icons = document.getElementById('sidebar_icons');
            const menu = document.getElementById('sidebar_menu');
            const header_toggle_icon = document.getElementById('header_toggle_icon');
            if (icons.style.display === 'none') {
                icons.style.display = 'block';
                menu.style.display = 'block';
                header_toggle_icon.setAttribute("style", "display:none !important");
            } else {
                icons.style.display = 'none';
                menu.style.display = 'none';
                header_toggle_icon.setAttribute("style", "display:flex !important");
            }
        }

        function sidebarMenu(section)
        {
            let sectionMenu = document.getElementById("sidebar_menu_"+section.toLowerCase());

            // check if it is not null
            if (!sectionMenu)
            {
                return;
            }

            if(sectionMenu.style.display === "none" || sectionMenu.style.display === "")
            {
                closeAllSidebarMenus();
                sectionMenu.style.display = "block";
            }
        }

        function closeAllSidebarMenus()
        {
            let menus = document.getElementsByClassName("sidebar_menu_section");
            for(let i = 0; i < menus.length; i++)
            {
                menus[i].style.display = "none";
            }
        }

        function showActiveSidebarMenu()
        {
            let activeSidebarItem = document.getElementsByClassName("nav-link active")["0"];
            if (activeSidebarItem) {
                activeSidebarItem.parentElement.parentElement.parentElement.classList += " show ";
                sidebarMenu(activeSidebarItem.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.id.replace("sidebar_menu_", ""));
            }
        }

        window.addEventListener("load", (event) => {
            showActiveSidebarMenu();
        });

    </script>

</body>
</html>
