<!DOCTYPE html>
<html lang="hu">

{% include 'themes/8_theta/head.html.twig' %}

<body>
<div class="container-fluid">
    <div class="row">

        {% include 'themes/8_theta/sidebar.html.twig' %}

        {% block body %}
        {% endblock %}

    </div>
</div>

{% include 'themes/8_theta/footer.html.twig' %}

{% include 'themes/_global/analytics-script.html.twig' %}

</body>
</html>
