<!DOCTYPE html>
<html lang="hu">

{% include 'themes/8_theta/head.html.twig' %}

<body>
<div class="bg-title">

    {% include 'themes/8_theta/sidebar.html.twig' %}

    {% block body %}
    {% endblock %}

</div> <!-- /.bg-title  -->

{% include 'themes/8_theta/footer.html.twig' %}


</body>
</html>
