{% extends 'themes/8_theta/base.html.twig' %}

{% block body %}

        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5">
            <h2 class="fw-bold text-uppercase fs-4 pb2-4 border-5 border-bottom border-primary mb-4">{{ title|raw }}</h2>
            {{ content|raw }}
        </div>

{% endblock %}
