<!-- Navigation -->
<div class="col-lg-2 pd-left">
    <div class="mobile-nav">
        <i class="bi bi-list" aria-hidden="true"></i>
    </div>
    <nav class="nav-menu">
        <div class="header-menu">
            <a class="menu-logo" href=""><img src="/favicon.png" alt="logo"></a>
            <h3 class="text-dark nosifer-regular">Valhalla Calling</h3>
        </div>
        <ul class="menu-text clk">
            <li><a href="#home">Kezdőlap</a></li>
            <li><a href="#about">Étlap</a></li>
            <li><a href="#portfolio">Galéria</a></li>
            <li><a href="#resume">Történetünk</a></li>
            <li><a href="#contact">Kapcsolat</a></li>
        </ul>


        <ul class="social-links">
            <li><a target="_blank" href="https://www.facebook.com/valhallacalling.hu"><i class="bi bi-facebook fs-3 px-1"></i></a></li>
            <li><a target="_blank" href="https://www.tiktok.com/@ValhallaCalling_2024"><i class="bi bi-tiktok fs-3 px-1"></i></a></li>
            <li><a target="_blank" href="https://maps.app.goo.gl/mooXPqUmd1PDpUNC8"><i class="bi bi-geo-alt-fill fs-3 px-1"></i></a></li>
        </ul>
    </nav>
</div><!-- /.col-lg-2 -->
