{% extends 'themes/base.html.twig' %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img class="img-fluid" src="https://www.autoalkatresz.bolt.hu/wp-content/uploads/sites/12/2021/07/logo2.png" alt="Alati Autósbolt">
                </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 p-3">

                <h2 class="wp-block-heading">Tisztelt Látogató!</h2>



                <p><strong>Ön is tapasztalta már, hogy ugyanaz az alkatrész jelentősen eltérő áron kapható a különböző kereskedésekben?</strong></p>



                <p>Viszont senki sem tudja megjegyezni, hogy melyikért hova érdemes mennie! 18 nagykereskedést lefedő adatbázisunkból kiválasztjuk Önnek az ár-érték arányban legkedvezőbb terméket és raktárról vagy egy napos szállítási határidővel kiszolgáljuk Önt.</p>



                <p>A legmegfelelőbb termék megtalálását garantálja, hogy nem vagyunk elkötelezettek valamely gyártó, illetve forgalmazó irányába, így csak az Ön igényeit kell szem előtt tartanunk!</p>



                <figure class="wp-block-gallery columns-3 is-cropped wp-block-gallery-1 is-layout-flex wp-block-gallery-is-layout-flex"><ul class="blocks-gallery-grid"><li class="blocks-gallery-item"><figure><a href="https://wordpress.brandcomstudio.com/autoalkatreszbolthu/wp-content/uploads/sites/12/2021/07/slider-img3.jpg"><img decoding="async" width="960" height="400" src="https://wordpress.brandcomstudio.com/autoalkatreszbolthu/wp-content/uploads/sites/12/2021/07/slider-img3.jpg" alt="" data-id="8" data-full-url="https://wordpress.brandcomstudio.com/autoalkatreszbolthu/wp-content/uploads/sites/12/2021/07/slider-img3.jpg" data-link="https://www.autoalkatresz.bolt.hu/slider-img3/" class="wp-image-8" srcset="https://www.autoalkatresz.bolt.hu/wp-content/uploads/sites/12/2021/07/slider-img3.jpg 960w, https://www.autoalkatresz.bolt.hu/wp-content/uploads/sites/12/2021/07/slider-img3-300x125.jpg 300w, https://www.autoalkatresz.bolt.hu/wp-content/uploads/sites/12/2021/07/slider-img3-768x320.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" /></a></figure></li><li class="blocks-gallery-item"><figure><a href="https://wordpress.brandcomstudio.com/autoalkatreszbolthu/wp-content/uploads/sites/12/2021/07/slider-img2.jpg"><img decoding="async" width="960" height="400" src="https://wordpress.brandcomstudio.com/autoalkatreszbolthu/wp-content/uploads/sites/12/2021/07/slider-img2.jpg" alt="" data-id="7" data-full-url="https://wordpress.brandcomstudio.com/autoalkatreszbolthu/wp-content/uploads/sites/12/2021/07/slider-img2.jpg" data-link="https://www.autoalkatresz.bolt.hu/slider-img2/" class="wp-image-7" srcset="https://www.autoalkatresz.bolt.hu/wp-content/uploads/sites/12/2021/07/slider-img2.jpg 960w, https://www.autoalkatresz.bolt.hu/wp-content/uploads/sites/12/2021/07/slider-img2-300x125.jpg 300w, https://www.autoalkatresz.bolt.hu/wp-content/uploads/sites/12/2021/07/slider-img2-768x320.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" /></a></figure></li><li class="blocks-gallery-item"><figure><a href="https://wordpress.brandcomstudio.com/autoalkatreszbolthu/wp-content/uploads/sites/12/2021/07/slider-img1.jpg"><img decoding="async" width="960" height="400" src="https://wordpress.brandcomstudio.com/autoalkatreszbolthu/wp-content/uploads/sites/12/2021/07/slider-img1.jpg" alt="" data-id="6" data-full-url="https://wordpress.brandcomstudio.com/autoalkatreszbolthu/wp-content/uploads/sites/12/2021/07/slider-img1.jpg" data-link="https://www.autoalkatresz.bolt.hu/slider-img1/" class="wp-image-6" srcset="https://www.autoalkatresz.bolt.hu/wp-content/uploads/sites/12/2021/07/slider-img1.jpg 960w, https://www.autoalkatresz.bolt.hu/wp-content/uploads/sites/12/2021/07/slider-img1-300x125.jpg 300w, https://www.autoalkatresz.bolt.hu/wp-content/uploads/sites/12/2021/07/slider-img1-768x320.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" /></a></figure></li></ul></figure>



                <h4 class="wp-block-heading">Kérjen információt e-mailben és mi rövid időn belül elküldjük (ár)ajánlatunkat az Ön által megadott címre.</h4>



                <p>Az alábbi adatokra lesz szükség, kérjük, ezeket foglalja bele az e-mailbe: név, telefonszám, e-mail cím, gépjármű típusa, évjárat, hengerűrtartalom, alvázszám, motorszám, egyéb megjegyzés.</p>



                <h3 class="has-text-align-center wp-block-heading">📨 info-kukac-autoalkatresz.bolt.hu</h3>



                <hr class="wp-block-separator" />



                <h4 class="wp-block-heading">Arra sincs ideje, hogy bejöjjön hozzánk?</h4>



                <p>Hívjon minket telefonon és azonnal konkrét ajánlatot kap! Rendelését leadhatja telefonon, a megrendelt alkatrészeket átveheti üzletünkben vagy akár házhoz is szállíttathatja velünk.<br>Teszteljen minket most!</p>



                <p>Vagy vegye elő legutóbbi alkatrész-számláját és összehasonlító árakért hívjon minket, hogy meggyőződhessen hatékonyságunkról!</p>



                <h3 class="has-text-align-center wp-block-heading">📳 +36-72-478-920</h3>
                {{ content|raw }}
            </div>
            <div class="col-md-4 p-3 bg-light">
                <h3>Kapcsolat</h3>
                <h4>Alati Autósbolt Siklós</h4>
                <p>
                    <br><a rel="noreferrer noopener" href="https://maps.google.com/maps/ms?msid=208073602788000720196.00045763729483d6ec37e&amp;msa=0&amp;ll=45.855497,18.296099&amp;spn=0.015692,0.042272&amp;iwloc=0004576377280312cc1d4" target="_blank">7800 Siklós, Felszabadulás u. 40.</a>
                    <br>Telefon: +36-72-478-920
                    <br>Telefon: +36-72-599-033
                    <br>Fax: +36-72-599-032
                    <br>E-mail: info [kukac] autoalkatresz.bolt.hu
                    <br>Skype: tilifercsi (Tili Ferenc)
                </p>
                <h4>Nyitvatartási rend</h4>
                <p>
                    Hétfő - péntek: 8:00 - 17:00
                    <br>Szombat: 8:00 - 12:00
                </p>
                <a target="_blank" href="https://www.myworld.com/hu/cashback/hu-hu/201651-etauto-kft?utm_source=search">
                    <img src="https://os.mwscdn.io/cbw/img/layout/logos/myworld-logo-color.svg" alt="MyWorld Partner" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

{% endblock %}
